p Dear #{@email},
p This is to confirm that you cancelled your registration for "#{@event.title}" on "#{@event.starts_at}"
p If you have changed your mind and would still like to attend, you will need to register again.
p Thanks,
p The Events Team